body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #392467;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #A367B1;
  color: #fff;
  text-align: center;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

section {
  padding: 20px;
}

article {
  background-color: #FFD1E3;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

footer {
  background-color: #5D3587;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p{
  color: #A367B1;
}

.contact-section form {
  max-width: 400px;
  margin: auto;
}

.contact-section label {
  display: block;
  margin-bottom: 5px;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.contact-section input[type="submit"] {
  background-color: #392467;
  color: #fff;
  cursor: pointer;
}

.contact-section input[type="submit"]:hover {
  background-color: #5D3587;
}
.categories-section ul {
  list-style: none;
  padding: 0;
}

.categories-section li {
  margin-bottom: 10px;
}

.categories-section a {
  color: #A367B1;
  text-decoration: none;
}

.categories-section a:hover {
  text-decoration: underline;
}
.about-section {
  padding: 20px;
}